main h1, main h2, main h3, main h4, main h5, main h6 {
    color: #0c1e59;
    font-weight: bold;
}

main h1, main h2 {
    text-align: center;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

section {
    padding: 8rem 0;
}

a {
    color: #025feb;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: 0;
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #0c1e59;
}

.navbar-brand {
    margin-right: 10vw;
    height: 50px;
    padding: 10px;
}

nav img {
    height: 30px;
}

.navbar-btn {
    color: #14b8ff;
    border: 1px solid #14b8ff;
}
.navbar-btn:hover {
    color: #0c1e59;
    background-color: #14b8ff;
    border: 1px solid #14b8ff;
}

.jumbotron {
    background-image: url('../images/jumbo-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.row {
    padding: 5rem auto;
}

.row div {
    margin-top: 3rem;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    max-width: 500px;
    color: #0c1e59;
}

form h5 a {
    text-decoration: underline;
}

.block-button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #aaaaaa;
    border: none;
    border-color: transparent;
    border-left: 1px solid #cccccc;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    font-size: 18px;
}

.block-button:focus {
    outline: 0;
    border-left: 1px solid #025feb;
    color: #0c1e59;
}
#google-btn {
    position: relative;
}
button img {
    height: 25px;
    margin: 0 1rem;
    position: absolute;
    left: 0;
    transform: translate(50%, 0);
}

/* #buttons {
    padding-top: 5rem;
    padding-bottom: 5rem;
} */


#companies, #carousel, #carousel2{
    background-color: #efefef;
    text-align: center;
}

#companies img {
    height: 80px;
}

#deploy img, #features img {
    height: 40px;
}

#table, #get-started {
    background-image: linear-gradient(to bottom, #004ce3, #021a61);
    text-align: center;
}

#table h2, #table h5, #table p, #get-started h2, #get-started p {
    color: white;
}

table {
    width: 100%;
}

table h4, table p, table a {
    margin: 0 auto;
}

#table a {
    color: #14b8ff;
}

#table tr {
    border-bottom: 1px solid white;
}

footer {
    background-color: #08132e;
    padding: 4rem 0;
}

footer h4, footer p, footer a {
    color: white;
}

footer h4 {
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding-inline-start: 0;
}

#footer-logo {
    height: 40px;
    margin-bottom: 1rem;
}
