.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-image: url('../images/jumbo-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {

}

.block-button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-left: 1px solid grey;

}

#buttons {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
