a {
    color: #025feb;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-image: url('../images/jumbo-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    max-width: 500px;
}

.block-button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-left: 1px solid grey;

}

#buttons {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


#companies, #carousel, #carousel2{
    background-color: #efefef;
    text-align: center;
}

#table, #get-started {
    background-image: linear-gradient(to bottom, #004ce3, #021a61);
    text-align: center;
}

footer {
    background-color: #000b2e;
}

footer ul {
    list-style: none;
    padding-inline-start: 0;
}
