/* GENERAL SETTINGS */

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: #0c1e59;
    font-weight: bold;
}

main h1, main h2 {
    text-align: center;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

section {
    padding: 8rem 0;
}

a {
    color: #025feb;
}

.row div {
    margin-top: 3rem;
}

/* NAVBAR SETTINGS */

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: 0;
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #0c1e59;
}

.navbar-brand {
    margin-right: 10vw;
    height: 50px;
    padding: 10px;
}

nav img {
    height: 30px;
}

.navbar-btn {
    color: #14b8ff;
    border: 1px solid #14b8ff;
}
.navbar-btn:hover {
    color: #0c1e59;
    background-color: #14b8ff;
    border: 1px solid #14b8ff;
}

/* JUMBOTRON SETTINGS */

.jumbotron {
    background-image: url('../images/jumbo-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    max-width: 500px;
    color: #0c1e59;
}

form h5 a {
    text-decoration: underline;
}

.block-button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #aaaaaa;
    border: none;
    border-color: transparent;
    border-left: 1px solid #cccccc;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    font-size: 18px;
}

.block-button:focus {
    outline: 0;
    border-left: 1px solid #025feb;
    color: #0c1e59;
}
#google-btn {
    position: relative;
}
button img {
    height: 25px;
    margin: 0 1rem;
    position: absolute;
    left: 0;
    transform: translate(50%, 0);
}

/* COMPANIES SECTION */

#companies, #carousel, #carousel2{
    background-color: #f3f5f9;
    text-align: center;
}

#companies img {
    height: 80px;
}

#companies .row {
    margin: 5rem auto;
}

/* DEPLOY SECTION */

#deploy img, #features img {
    height: 40px;
}

/* CAROUSEL */

.carousel-inner .row div {
    margin-top: 0;
}
.carousel ol {
    position: absolute;
    bottom: -8%;
}
.carousel ol li {
    border: 1px solid #025feb;
}
.carousel h4 {
    margin: 2rem auto;
}
.carousel-indicators .active {
    background-color: #025feb;
}
.carousel-control.left {
    position: absolute;
    left: -8%;
    opacity: 1;
    width: auto;
    color: #0c1e59;
}
.carousel-control.right {
    position: absolute;
    right: -8%;
    opacity: 1;
    width: auto;
    color: #0c1e59;
}

#carousel .row div, #carousel2 .row div {
    margin-top: 1.5rem;
}

/* TABLE SECTION */

#table, #get-started {
    background-image: linear-gradient(to bottom, #004ce3, #021a61);
    text-align: center;
}

#table h2, #table h5, #table p, #get-started h2, #get-started p {
    color: white;
}

table {
    width: 100%;
}

table h4, table p, table a {
    margin: 0 auto;
}

#table a {
    color: #14b8ff;
}

#table tr {
    border-bottom: 1px solid white;
}


/* GET STARTED SECTION */

#get-started button {
    color: #025feb;
    font-weight: bold;
}

/* FOOTER SECTION */

footer {
    background-color: #08132e;
    padding: 4rem 0;
}

footer p, footer a {
    color: #aaaaaa;
}

footer h4 {
    color: white;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding-inline-start: 0;
}

footer span {
    color: #767676;
}

#footer-logo {
    height: 40px;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 990px) {
    form {
        max-width: none;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
